{{>list show=true petition=true signers=true ubahn=true warming=true logout=true}}

<form class="profile" method="post">
<h1 id="more_info">Edit your profile</h1>
<input class="profile_input" type="text" name="first" value="{{first}}">
<h2 class="profile_headlines">First name</h2>
<input class="profile_input" type="text" name="last" value="{{last}}">
<h2 class="profile_headlines">Last name</h2>

<input class="profile_input" type="text" name="email" value="{{email}}">
<h2 class="profile_headlines">Email adress</h2>

<input class="profile_input" type="text" name="pass" value="" placeholder="password">
<h2 class="profile_headlines">Password</h2>

<input class="profile_input" type="text" name="age" value="{{age}}">
<h2 class="profile_headlines">Age</h2>

<input class="profile_input" type="text" name="city" value="{{city}}">
<h2 class="profile_headlines">City</h2>

<input class="profile_input" type="text" name="{{url}}" placeholder="link to your site">
<h2 class="profile_headlines">Homepage</h2>

<button id="continue" type="submit" name="button">Update</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
