{{>list show=true petition=true edit=true logout=true}}

<section class="signatures">
<h2 id="other_signers">Here are the others who wanna make the change</h2>
{{#list}}

    <p id="signers_info"> {{first}} {{last}} {{age}} <a href="/signatures/{{city}}"> {{city}}</a></p>


{{/list}}
</section>
